<div class="alert alert-success" *ngIf='message' {{ message }}></div>
<div class="col-md-4 offset-4 mt-4">
    <h4 class="text-center">Add Product</h4>
    <form #addProductForm='ngForm' (ngSubmit)='postProduct(addProductForm)'>
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" name="productName" id="productName" #productName='ngModel' ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" #imageUrl='ngModel' ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="price">price </label>
            <input type="text" name="price" id="price" #price='ngModel' ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="productDescription">Product Description</label>
            <input type="text" name="productDescription" id="productDescription" #productDescription='ngModel' ngModel
                class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-primary float-right">
            Add Product
        </button>
    </form>
</div>